name: cargo fmt
on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  cargo_fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Check with cargo fmt
      run: cargo fmt --all 

    - name: Commit files  
      run: |
        git config --local user.name  ${{ github.actor }}
        git add .
        git commit -m "cargo formatted: ${{ github.event.commits[0].message }}"
        
    - name: Push changes  # push the output folder to your repo
      uses: ad-m/github-push-action@master
      with: 
        github_token: ${{ secrets.PUSH_TOKEN }}
        branch: ${{  github.head_ref || github.ref_name }}
