name: changelog-generator

on: [push]

jobs:
  git-cliff-action:
    runs-on: ubuntu-latest
    name: Test the git-cliff changelog generator action
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Generate a changelog
        id: git-cliff
        uses: orhun/git-cliff-action@v2
        with:
          config: fixtures/cliff.toml
          args: --verbose --strip footer
        env:
          OUTPUT: CHANGELOG.md
      - name: Print the changelog
        run: cat "${{ steps.git-cliff.outputs.changelog }}"

      - name: Commit the changelog
        uses: EndBug/add-and-commit@v9
        with:
          message: "update changelog"
          add: ${{ steps.git-cliff.outputs.changelog }}
        